<a href="https://colab.research.google.com/github/VinuthaTC/vinu111/blob/main/12_12_2022_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 40.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=48e9e777fd121af41ffb2b3e983975645d2b25d4057a481196aa9ed060c2339e
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [ ]:
spark=SparkSession.builder.appName("app").getOrCreate()

In [ ]:
data1 = [("Jhon", "son", "smith", "1001","M", 40000),
        ("Michael", "Rose", "rao", "1002", "M", 50000),
        ("Robert", "William", "rao", "1003", "M", 60000),
        ("Mariba", "van", "san", "1004", "M", 70000),
        ("jen", "path", "rahul", "1005", "M", 80000),
        ("Rohan", "Wil", "ram", "1006", "M", 66000),
        ("Ravath", "ram", "ram", "1007", "M", 67000),
        ("san", "sam", "rao", "1008", "M", 87000),
        ("sam", "ran", "rao", "1009", "F", 75000),
        ("Rose", "se", "sam", "1010", "F", 87000),
        ("vaan", "vam", "ra", "1011", "M", 55600),
        ("vinod", "vinay", "rao", "1012", "M", 23400),
        ("viraj", "kam", "raj", "1013", "M", 67800),
        ("varun", "vammn", "shetty", "1014", "M", 87600),
        ("vandana", "vasu", "chawdary", "1015", "F", 45600),
        ("surya", "sur", "sam", "1016", "M", 98600),
        ("sowmya", "yar", "rao", "1017", "F", 45600),
        ("pavan", "pam", "pv", "1018", "M", 37500),
        ("vinay", "s", "eve", "1019", "M", 39500),
        ("sunil", "somu", "san", "1020", "M", 49500),]

In [ ]:
schema=StructType([  StructField("First_name", StringType(), True),
                   StructField("Midle_name", StringType(), True),
                   StructField("Last_name", StringType(), True),
                   StructField("ID", StringType(), True),
                   StructField("Gender", StringType(), True),
                   StructField("Salary", IntegerType(), True),])

In [ ]:
data1= spark.createDataFrame(data=data1, schema=schema)
data1.printSchema()
data1.show(truncate=False)

root
 |-- First_name: string (nullable = true)
 |-- Midle_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|ID  |Gender|Salary|
+----------+----------+---------+----+------+------+
|Jhon      |son       |smith    |1001|M     |40000 |
|Michael   |Rose      |rao      |1002|M     |50000 |
|Robert    |William   |rao      |1003|M     |60000 |
|Mariba    |van       |san      |1004|M     |70000 |
|jen       |path      |rahul    |1005|M     |80000 |
|Rohan     |Wil       |ram      |1006|M     |66000 |
|Ravath    |ram       |ram      |1007|M     |67000 |
|san       |sam       |rao      |1008|M     |87000 |
|sam       |ran       |rao      |1009|F     |75000 |
|Rose      |se        |sam      |1010|F     |87000 |
|vaan      |vam       |ra       |1011|M     |55600 |
|vinod     |vinay     |rao      |1012|M     |23400 |
|viraj     |kam       |raj      |1013|M     |67800 |
|varun     |vammn     |shetty   |1014|M     |87600 |
|vandana   |vasu      |chawdary |1015|F     |45600 |
|surya     |sur       |sam      |1016|M     |98600 |
|sowmya    |yar       |rao      |1017|F     |45600 |
|pavan     |pam       |pv       |1018|M     |37500 |
|vinay     |s         |eve      |1019|M     |39500 |
|sunil     |somu      |san      |1020|M     |49500 |
+----------+----------+---------+----+------+------+

In [ ]:
data1.select('First_name', "ID", "Salary").show()

+----------+----+------+
|First_name|  ID|Salary|
+----------+----+------+
|      Jhon|1001| 40000|
|   Michael|1002| 50000|
|    Robert|1003| 60000|
|    Mariba|1004| 70000|
|       jen|1005| 80000|
|     Rohan|1006| 66000|
|    Ravath|1007| 67000|
|       san|1008| 87000|
|       sam|1009| 75000|
|      Rose|1010| 87000|
|      vaan|1011| 55600|
|     vinod|1012| 23400|
|     viraj|1013| 67800|
|     varun|1014| 87600|
|   vandana|1015| 45600|
|     surya|1016| 98600|
|    sowmya|1017| 45600|
|     pavan|1018| 37500|
|     vinay|1019| 39500|
|     sunil|1020| 49500|
+----------+----+------+

In [ ]:
data1.select('First_name', "ID").show()

+----------+----+
|First_name|  ID|
+----------+----+
|      Jhon|1001|
|   Michael|1002|
|    Robert|1003|
|    Mariba|1004|
|       jen|1005|
|     Rohan|1006|
|    Ravath|1007|
|       san|1008|
|       sam|1009|
|      Rose|1010|
|      vaan|1011|
|     vinod|1012|
|     viraj|1013|
|     varun|1014|
|   vandana|1015|
|     surya|1016|
|    sowmya|1017|
|     pavan|1018|
|     vinay|1019|
|     sunil|1020|
+----------+----+

In [ ]:
data1.withColumnRenamed("gender","sex").show()

+----------+----------+---------+----+---+------+
|First_name|Midle_name|Last_name|  ID|sex|Salary|
+----------+----------+---------+----+---+------+
|      Jhon|       son|    smith|1001|  M| 40000|
|   Michael|      Rose|      rao|1002|  M| 50000|
|    Robert|   William|      rao|1003|  M| 60000|
|    Mariba|       van|      san|1004|  M| 70000|
|       jen|      path|    rahul|1005|  M| 80000|
|     Rohan|       Wil|      ram|1006|  M| 66000|
|    Ravath|       ram|      ram|1007|  M| 67000|
|       san|       sam|      rao|1008|  M| 87000|
|       sam|       ran|      rao|1009|  F| 75000|
|      Rose|        se|      sam|1010|  F| 87000|
|      vaan|       vam|       ra|1011|  M| 55600|
|     vinod|     vinay|      rao|1012|  M| 23400|
|     viraj|       kam|      raj|1013|  M| 67800|
|     varun|     vammn|   shetty|1014|  M| 87600|
|   vandana|      vasu| chawdary|1015|  F| 45600|
|     surya|       sur|      sam|1016|  M| 98600|
|    sowmya|       yar|      rao|1017|  F| 45600|
|     pavan|       pam|       pv|1018|  M| 37500|
|     vinay|         s|      eve|1019|  M| 39500|
|     sunil|      somu|      san|1020|  M| 49500|
+----------+----------+---------+----+---+------+

In [ ]:
from pyspark.sql import functions as F

In [ ]:
data1.withColumn("ID",F.col("ID").cast("Integer")).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Robert|   William|      rao|1003|     M| 60000|
|    Mariba|       van|      san|1004|     M| 70000|
|       jen|      path|    rahul|1005|     M| 80000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|       san|       sam|      rao|1008|     M| 87000|
|       sam|       ran|      rao|1009|     F| 75000|
|      Rose|        se|      sam|1010|     F| 87000|
|      vaan|       vam|       ra|1011|     M| 55600|
|     vinod|     vinay|      rao|1012|     M| 23400|
|     viraj|       kam|      raj|1013|     M| 67800|
|     varun|     vammn|   shetty|1014|     M| 87600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|     surya|       sur|      sam|1016|     M| 98600|
|    sowmya|       yar|      rao|1017|     F| 45600|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|     sunil|      somu|      san|1020|     M| 49500|
+----------+----------+---------+----+------+------+

In [ ]:
from pyspark.sql.functions import col, lit

In [ ]:
data1.withColumn("ID",col("ID").cast("string")).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Robert|   William|      rao|1003|     M| 60000|
|    Mariba|       van|      san|1004|     M| 70000|
|       jen|      path|    rahul|1005|     M| 80000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|       san|       sam|      rao|1008|     M| 87000|
|       sam|       ran|      rao|1009|     F| 75000|
|      Rose|        se|      sam|1010|     F| 87000|
|      vaan|       vam|       ra|1011|     M| 55600|
|     vinod|     vinay|      rao|1012|     M| 23400|
|     viraj|       kam|      raj|1013|     M| 67800|
|     varun|     vammn|   shetty|1014|     M| 87600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|     surya|       sur|      sam|1016|     M| 98600|
|    sowmya|       yar|      rao|1017|     F| 45600|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|     sunil|      somu|      san|1020|     M| 49500|
+----------+----------+---------+----+------+------+

In [ ]:
data1.withColumn("counrty", lit("USA")).show()

+----------+----------+---------+----+------+------+-------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|counrty|
+----------+----------+---------+----+------+------+-------+
|      Jhon|       son|    smith|1001|     M| 40000|    USA|
|   Michael|      Rose|      rao|1002|     M| 50000|    USA|
|    Robert|   William|      rao|1003|     M| 60000|    USA|
|    Mariba|       van|      san|1004|     M| 70000|    USA|
|       jen|      path|    rahul|1005|     M| 80000|    USA|
|     Rohan|       Wil|      ram|1006|     M| 66000|    USA|
|    Ravath|       ram|      ram|1007|     M| 67000|    USA|
|       san|       sam|      rao|1008|     M| 87000|    USA|
|       sam|       ran|      rao|1009|     F| 75000|    USA|
|      Rose|        se|      sam|1010|     F| 87000|    USA|
|      vaan|       vam|       ra|1011|     M| 55600|    USA|
|     vinod|     vinay|      rao|1012|     M| 23400|    USA|
|     viraj|       kam|      raj|1013|     M| 67800|    USA|
|     varun|     vammn|   shetty|1014|     M| 87600|    USA|
|   vandana|      vasu| chawdary|1015|     F| 45600|    USA|
|     surya|       sur|      sam|1016|     M| 98600|    USA|
|    sowmya|       yar|      rao|1017|     F| 45600|    USA|
|     pavan|       pam|       pv|1018|     M| 37500|    USA|
|     vinay|         s|      eve|1019|     M| 39500|    USA|
|     sunil|      somu|      san|1020|     M| 49500|    USA|
+----------+----------+---------+----+------+------+-------+

In [ ]:
data1.withColumn("new_salary",col("salary")+ 2000).show()

+----------+----------+---------+----+------+------+----------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|new_salary|
+----------+----------+---------+----+------+------+----------+
|      Jhon|       son|    smith|1001|     M| 40000|     42000|
|   Michael|      Rose|      rao|1002|     M| 50000|     52000|
|    Robert|   William|      rao|1003|     M| 60000|     62000|
|    Mariba|       van|      san|1004|     M| 70000|     72000|
|       jen|      path|    rahul|1005|     M| 80000|     82000|
|     Rohan|       Wil|      ram|1006|     M| 66000|     68000|
|    Ravath|       ram|      ram|1007|     M| 67000|     69000|
|       san|       sam|      rao|1008|     M| 87000|     89000|
|       sam|       ran|      rao|1009|     F| 75000|     77000|
|      Rose|        se|      sam|1010|     F| 87000|     89000|
|      vaan|       vam|       ra|1011|     M| 55600|     57600|
|     vinod|     vinay|      rao|1012|     M| 23400|     25400|
|     viraj|       kam|      raj|1013|     M| 67800|     69800|
|     varun|     vammn|   shetty|1014|     M| 87600|     89600|
|   vandana|      vasu| chawdary|1015|     F| 45600|     47600|
|     surya|       sur|      sam|1016|     M| 98600|    100600|
|    sowmya|       yar|      rao|1017|     F| 45600|     47600|
|     pavan|       pam|       pv|1018|     M| 37500|     39500|
|     vinay|         s|      eve|1019|     M| 39500|     41500|
|     sunil|      somu|      san|1020|     M| 49500|     51500|
+----------+----------+---------+----+------+------+----------+

In [ ]:
data1.withColumn("salary",col("salary")*100).show()

+----------+----------+---------+----+------+-------+
|First_name|Midle_name|Last_name|  ID|Gender| salary|
+----------+----------+---------+----+------+-------+
|      Jhon|       son|    smith|1001|     M|4000000|
|   Michael|      Rose|      rao|1002|     M|5000000|
|    Robert|   William|      rao|1003|     M|6000000|
|    Mariba|       van|      san|1004|     M|7000000|
|       jen|      path|    rahul|1005|     M|8000000|
|     Rohan|       Wil|      ram|1006|     M|6600000|
|    Ravath|       ram|      ram|1007|     M|6700000|
|       san|       sam|      rao|1008|     M|8700000|
|       sam|       ran|      rao|1009|     F|7500000|
|      Rose|        se|      sam|1010|     F|8700000|
|      vaan|       vam|       ra|1011|     M|5560000|
|     vinod|     vinay|      rao|1012|     M|2340000|
|     viraj|       kam|      raj|1013|     M|6780000|
|     varun|     vammn|   shetty|1014|     M|8760000|
|   vandana|      vasu| chawdary|1015|     F|4560000|
|     surya|       sur|      sam|1016|     M|9860000|
|    sowmya|       yar|      rao|1017|     F|4560000|
|     pavan|       pam|       pv|1018|     M|3750000|
|     vinay|         s|      eve|1019|     M|3950000|
|     sunil|      somu|      san|1020|     M|4950000|
+----------+----------+---------+----+------+-------+

In [ ]:
data1.drop("new_salary").show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Robert|   William|      rao|1003|     M| 60000|
|    Mariba|       van|      san|1004|     M| 70000|
|       jen|      path|    rahul|1005|     M| 80000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|       san|       sam|      rao|1008|     M| 87000|
|       sam|       ran|      rao|1009|     F| 75000|
|      Rose|        se|      sam|1010|     F| 87000|
|      vaan|       vam|       ra|1011|     M| 55600|
|     vinod|     vinay|      rao|1012|     M| 23400|
|     viraj|       kam|      raj|1013|     M| 67800|
|     varun|     vammn|   shetty|1014|     M| 87600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|     surya|       sur|      sam|1016|     M| 98600|
|    sowmya|       yar|      rao|1017|     F| 45600|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|     sunil|      somu|      san|1020|     M| 49500|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter("gender=='M'").show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Robert|   William|      rao|1003|     M| 60000|
|    Mariba|       van|      san|1004|     M| 70000|
|       jen|      path|    rahul|1005|     M| 80000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|       san|       sam|      rao|1008|     M| 87000|
|      vaan|       vam|       ra|1011|     M| 55600|
|     vinod|     vinay|      rao|1012|     M| 23400|
|     viraj|       kam|      raj|1013|     M| 67800|
|     varun|     vammn|   shetty|1014|     M| 87600|
|     surya|       sur|      sam|1016|     M| 98600|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|     sunil|      somu|      san|1020|     M| 49500|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter("gender!='M'").show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|       sam|       ran|      rao|1009|     F| 75000|
|      Rose|        se|      sam|1010|     F| 87000|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|    sowmya|       yar|      rao|1017|     F| 45600|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter("gender<>'M'").show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|       sam|       ran|      rao|1009|     F| 75000|
|      Rose|        se|      sam|1010|     F| 87000|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|    sowmya|       yar|      rao|1017|     F| 45600|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter((data1.ID=="1009") & (data1.Salary=="75000")).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|       sam|       ran|      rao|1009|     F| 75000|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter((data1.ID=="1009") | (data1.Salary=="75000")).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|       sam|       ran|      rao|1009|     F| 75000|
+----------+----------+---------+----+------+------+

In [ ]:
list=["ram", "rao", "sam"]
data1.filter(data1.Last_name.isin(list)).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Robert|   William|      rao|1003|     M| 60000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|       san|       sam|      rao|1008|     M| 87000|
|       sam|       ran|      rao|1009|     F| 75000|
|      Rose|        se|      sam|1010|     F| 87000|
|     vinod|     vinay|      rao|1012|     M| 23400|
|     surya|       sur|      sam|1016|     M| 98600|
|    sowmya|       yar|      rao|1017|     F| 45600|
+----------+----------+---------+----+------+------+

In [ ]:
list=["ram", "rao", "sam"]
data1.filter(data1.Last_name.isin(list)==False).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|    Mariba|       van|      san|1004|     M| 70000|
|       jen|      path|    rahul|1005|     M| 80000|
|      vaan|       vam|       ra|1011|     M| 55600|
|     viraj|       kam|      raj|1013|     M| 67800|
|     varun|     vammn|   shetty|1014|     M| 87600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|     sunil|      somu|      san|1020|     M| 49500|
+----------+----------+---------+----+------+------+

In [ ]:
list=["ram", "rao", "sam"]
data1.filter(~data1.Last_name.isin(list)).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|    Mariba|       van|      san|1004|     M| 70000|
|       jen|      path|    rahul|1005|     M| 80000|
|      vaan|       vam|       ra|1011|     M| 55600|
|     viraj|       kam|      raj|1013|     M| 67800|
|     varun|     vammn|   shetty|1014|     M| 87600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|     sunil|      somu|      san|1020|     M| 49500|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter(data1.First_name.startswith("M")).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Mariba|       van|      san|1004|     M| 70000|
+----------+----------+---------+----+------+------+

In [ ]:
data1.filter(data1.Last_name.like("rao")).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Robert|   William|      rao|1003|     M| 60000|
|       san|       sam|      rao|1008|     M| 87000|
|       sam|       ran|      rao|1009|     F| 75000|
|     vinod|     vinay|      rao|1012|     M| 23400|
|    sowmya|       yar|      rao|1017|     F| 45600|
+----------+----------+---------+----+------+------+

In [ ]:
data1.sort(data1.Salary.desc()).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|     surya|       sur|      sam|1016|     M| 98600|
|     varun|     vammn|   shetty|1014|     M| 87600|
|       san|       sam|      rao|1008|     M| 87000|
|      Rose|        se|      sam|1010|     F| 87000|
|       jen|      path|    rahul|1005|     M| 80000|
|       sam|       ran|      rao|1009|     F| 75000|
|    Mariba|       van|      san|1004|     M| 70000|
|     viraj|       kam|      raj|1013|     M| 67800|
|    Ravath|       ram|      ram|1007|     M| 67000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Robert|   William|      rao|1003|     M| 60000|
|      vaan|       vam|       ra|1011|     M| 55600|
|   Michael|      Rose|      rao|1002|     M| 50000|
|     sunil|      somu|      san|1020|     M| 49500|
|    sowmya|       yar|      rao|1017|     F| 45600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|      Jhon|       son|    smith|1001|     M| 40000|
|     vinay|         s|      eve|1019|     M| 39500|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinod|     vinay|      rao|1012|     M| 23400|
+----------+----------+---------+----+------+------+

In [ ]:
data1.sort(data1.Salary.asc()).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|     vinod|     vinay|      rao|1012|     M| 23400|
|     pavan|       pam|       pv|1018|     M| 37500|
|     vinay|         s|      eve|1019|     M| 39500|
|      Jhon|       son|    smith|1001|     M| 40000|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|    sowmya|       yar|      rao|1017|     F| 45600|
|     sunil|      somu|      san|1020|     M| 49500|
|   Michael|      Rose|      rao|1002|     M| 50000|
|      vaan|       vam|       ra|1011|     M| 55600|
|    Robert|   William|      rao|1003|     M| 60000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|     viraj|       kam|      raj|1013|     M| 67800|
|    Mariba|       van|      san|1004|     M| 70000|
|       sam|       ran|      rao|1009|     F| 75000|
|       jen|      path|    rahul|1005|     M| 80000|
|      Rose|        se|      sam|1010|     F| 87000|
|       san|       sam|      rao|1008|     M| 87000|
|     varun|     vammn|   shetty|1014|     M| 87600|
|     surya|       sur|      sam|1016|     M| 98600|
+----------+----------+---------+----+------+------+

In [ ]:
data1.sort(col("First_name").asc(), col("Last_name").desc()).show()

+----------+----------+---------+----+------+------+
|First_name|Midle_name|Last_name|  ID|Gender|Salary|
+----------+----------+---------+----+------+------+
|      Jhon|       son|    smith|1001|     M| 40000|
|    Mariba|       van|      san|1004|     M| 70000|
|   Michael|      Rose|      rao|1002|     M| 50000|
|    Ravath|       ram|      ram|1007|     M| 67000|
|    Robert|   William|      rao|1003|     M| 60000|
|     Rohan|       Wil|      ram|1006|     M| 66000|
|      Rose|        se|      sam|1010|     F| 87000|
|       jen|      path|    rahul|1005|     M| 80000|
|     pavan|       pam|       pv|1018|     M| 37500|
|       sam|       ran|      rao|1009|     F| 75000|
|       san|       sam|      rao|1008|     M| 87000|
|    sowmya|       yar|      rao|1017|     F| 45600|
|     sunil|      somu|      san|1020|     M| 49500|
|     surya|       sur|      sam|1016|     M| 98600|
|      vaan|       vam|       ra|1011|     M| 55600|
|   vandana|      vasu| chawdary|1015|     F| 45600|
|     varun|     vammn|   shetty|1014|     M| 87600|
|     vinay|         s|      eve|1019|     M| 39500|
|     vinod|     vinay|      rao|1012|     M| 23400|
|     viraj|       kam|      raj|1013|     M| 67800|
+----------+----------+---------+----+------+------+