<a href="https://colab.research.google.com/github/VinuthaTC/vinu111/blob/main/13_12_2022_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 44.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=f76c4bfa6d57210f42364d9deef3b67c6a0d92cde91049e04a472a00d23b44bb
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark import SparkContext

In [3]:
sc= SparkContext.getOrCreate()

In [4]:
data=sc.parallelize([1,2,3,4,5,6])
print(data.collect())

[1, 2, 3, 4, 5, 6]

In [5]:
print(data.count())

6

In [6]:
print(data.first())

1

In [7]:
print(data.take(3))

[1, 2, 3]

Reduce

In [8]:
print(data.reduce(lambda x,y:x+y))

21

In [9]:
print(data.reduce(lambda x,y: x*y))

720

In [10]:
data.saveAsTextFile('test.txt')

mapping

In [11]:
print(data.map(lambda x: x+10).collect())

[11, 12, 13, 14, 15, 16]

In [12]:
print(data.map(lambda x:x*x).collect())

[1, 4, 9, 16, 25, 36]

Filter

In [13]:
print(data.filter(lambda x:x%2==0).collect())

[2, 4, 6]

In [14]:
print(data.filter(lambda x:x%2!=0).collect())

[1, 3, 5]

In [16]:
data1 = sc.parallelize(["Rahul", "Swathi", "Rohan", "Shreya", "Thejas"])
print(data1.filter(lambda x : x.startswith('S')).collect())

['Swathi', 'Shreya']

union

In [17]:
df=sc.parallelize([1,3,4,5,6,7,8,9,10])
rdd_1=df.filter(lambda x : x%2==0)
rdd_2=df.filter(lambda x: x%3==0)
print(rdd_1.union(rdd_2).collect())

[4, 6, 8, 10, 3, 6, 9]

Flatmap

In [21]:
new= sc.parallelize(["Hey arya, This is the pyspark RDD Transformation"])
(new.flatMap(lambda x : x.split(" ")).collect())

['Hey', 'arya,', 'This', 'is', 'the', 'pyspark', 'RDD', 'Transformation']

reducebykey

In [22]:
dd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
print(dd.reduceByKey(lambda x, y: x + y).collect())

[('Rahul', 48), ('Shreya', 50), ('Rohan', 44), ('Swati', 45), ('Abhay', 55)]

sortbykey

In [23]:
rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
print(rdd.sortByKey('ascending').collect())

[('Abhay', 29), ('Abhay', 26), ('Rahul', 25), ('Rahul', 23), ('Rohan', 22), ('Rohan', 22), ('Shreya', 22), ('Shreya', 28), ('Swati', 26), ('Swati', 19)]

groupbykey

In [24]:
rdd1 = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
dict_rdd = rdd1.groupByKey().collect()
for key, value in dict_rdd:
    print(key, list(value))

Rahul [25, 23]
Shreya [22, 28]
Rohan [22, 22]
Swati [26, 19]
Abhay [29, 26]

countbykey

In [25]:
data_df = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
dict_rdd = data_df.countByKey().items()
for key, value in dict_rdd:
    print(key, value)

Rahul 2
Swati 2
Rohan 2
Shreya 1
Abhay 1