<a href="https://colab.research.google.com/github/VinuthaTC/vinu111/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 58.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=4c27587b97838b41104ce65da82b5cfd6bffb7bbce2a1d8df25eab808a590618
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("spark jobs").getOrCreate()

In [9]:
df= spark.read.csv("/content/sample_data/california_housing_test.csv", header=True)

In [10]:
df.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [11]:
df.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [12]:
df.count()

3000

In [13]:
df.show(6)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 6 rows

In [15]:
df.select("longitude", "latitude", "households").show(6)

+-----------+---------+----------+
|  longitude| latitude|households|
+-----------+---------+----------+
|-122.050000|37.370000|606.000000|
|-118.300000|34.260000|277.000000|
|-117.810000|33.780000|495.000000|
|-118.360000|33.820000| 11.000000|
|-119.670000|36.330000|237.000000|
|-119.560000|36.510000|204.000000|
+-----------+---------+----------+
only showing top 6 rows

In [16]:
df.select("longitude", "latitude", "households").show(3)

+-----------+---------+----------+
|  longitude| latitude|households|
+-----------+---------+----------+
|-122.050000|37.370000|606.000000|
|-118.300000|34.260000|277.000000|
|-117.810000|33.780000|495.000000|
+-----------+---------+----------+
only showing top 3 rows

In [17]:
df.limit(10).toPandas()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000
1,-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000
2,-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000
3,-118.360000,33.820000,28.000000,67.000000,15.000000,49.000000,11.000000,6.135900,330000.000000
4,-119.670000,36.330000,19.000000,1241.000000,244.000000,850.000000,237.000000,2.937500,81700.000000
5,-119.560000,36.510000,37.000000,1018.000000,213.000000,663.000000,204.000000,1.663500,67000.000000
6,-121.430000,38.630000,43.000000,1009.000000,225.000000,604.000000,218.000000,1.664100,67000.000000
7,-120.650000,35.480000,19.000000,2310.000000,471.000000,1341.000000,441.000000,3.225000,166900.000000
8,-122.840000,38.400000,15.000000,3080.000000,617.000000,1446.000000,599.000000,3.669600,194400.000000
9,-118.020000,34.080000,31.000000,2402.000000,632.000000,2830.000000,603.000000,2.333300,164200.000000

In [18]:
df=df.withColumnRenamed("housing_median_age","housing_age")

In [21]:
df=df.toDF(*['longitude', "latitude", 'housing_median_age', "total_rooms", "total_bedrooms", "population", "households", "median_income", "median_house_value"])

In [22]:
df.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [23]:
df2=df.select('households', "population")
df2.show()

+-----------+-----------+
| households| population|
+-----------+-----------+
| 606.000000|1537.000000|
| 277.000000| 809.000000|
| 495.000000|1484.000000|
|  11.000000|  49.000000|
| 237.000000| 850.000000|
| 204.000000| 663.000000|
| 218.000000| 604.000000|
| 441.000000|1341.000000|
| 599.000000|1446.000000|
| 603.000000|2830.000000|
| 261.000000|1288.000000|
| 138.000000| 564.000000|
| 170.000000| 535.000000|
| 659.000000|1935.000000|
| 331.000000|1217.000000|
|  50.000000| 157.000000|
| 107.000000| 189.000000|
| 595.000000|1603.000000|
| 199.000000| 654.000000|
|1258.000000|3450.000000|
+-----------+-----------+
only showing top 20 rows

In [24]:
df2.sort("households").show()

+-----------+-----------+
| households| population|
+-----------+-----------+
|  10.000000|  27.000000|
| 100.000000| 337.000000|
| 100.000000| 261.000000|
|1000.000000|2053.000000|
|1001.000000|3258.000000|
|1004.000000|2519.000000|
|1005.000000|2843.000000|
|1006.000000|3464.000000|
|1007.000000|3707.000000|
|1007.000000|2334.000000|
|1007.000000|2602.000000|
|1009.000000|4205.000000|
|1010.000000|3129.000000|
|1012.000000|3707.000000|
|1014.000000|3003.000000|
|1015.000000|1715.000000|
|1019.000000|2475.000000|
| 102.000000| 348.000000|
|1020.000000|2778.000000|
|1021.000000|2812.000000|
+-----------+-----------+
only showing top 20 rows

In [25]:
df2.sort("households", "population").show()

+-----------+-----------+
| households| population|
+-----------+-----------+
|  10.000000|  27.000000|
| 100.000000| 261.000000|
| 100.000000| 337.000000|
|1000.000000|2053.000000|
|1001.000000|3258.000000|
|1004.000000|2519.000000|
|1005.000000|2843.000000|
|1006.000000|3464.000000|
|1007.000000|2334.000000|
|1007.000000|2602.000000|
|1007.000000|3707.000000|
|1009.000000|4205.000000|
|1010.000000|3129.000000|
|1012.000000|3707.000000|
|1014.000000|3003.000000|
|1015.000000|1715.000000|
|1019.000000|2475.000000|
| 102.000000| 348.000000|
|1020.000000|2778.000000|
|1021.000000|2049.000000|
+-----------+-----------+
only showing top 20 rows

In [28]:
from pyspark.sql import functions as F
df2.sort(F.desc("households")).show()

+----------+-----------+
|households| population|
+----------+-----------+
|998.000000|2162.000000|
|997.000000|2415.000000|
|994.000000|2843.000000|
|993.000000|3011.000000|
|991.000000|1639.000000|
|987.000000|2719.000000|
|986.000000|1512.000000|
|985.000000|2766.000000|
|985.000000|2760.000000|
|984.000000|3444.000000|
|982.000000|2010.000000|
|980.000000|2948.000000|
| 98.000000| 208.000000|
|979.000000|2259.000000|
|979.000000|2823.000000|
|979.000000|2220.000000|
|978.000000|4660.000000|
|978.000000|3538.000000|
|977.000000|2697.000000|
|975.000000|2198.000000|
+----------+-----------+
only showing top 20 rows

In [38]:
from pyspark.sql.types import DoubleType, IntegerType, StringType
df3= df2.withColumn('households', F.col('households').cast(DoubleType()))

In [39]:
df3.show()

+----------+-----------+
|households| population|
+----------+-----------+
|     606.0|1537.000000|
|     277.0| 809.000000|
|     495.0|1484.000000|
|      11.0|  49.000000|
|     237.0| 850.000000|
|     204.0| 663.000000|
|     218.0| 604.000000|
|     441.0|1341.000000|
|     599.0|1446.000000|
|     603.0|2830.000000|
|     261.0|1288.000000|
|     138.0| 564.000000|
|     170.0| 535.000000|
|     659.0|1935.000000|
|     331.0|1217.000000|
|      50.0| 157.000000|
|     107.0| 189.000000|
|     595.0|1603.000000|
|     199.0| 654.000000|
|    1258.0|3450.000000|
+----------+-----------+
only showing top 20 rows

In [40]:
df3.printSchema()

root
 |-- households: double (nullable = true)
 |-- population: string (nullable = true)

In [41]:
df3.filter((df3.households>10) & (df3.households=='50')).show()

+----------+----------+
|households|population|
+----------+----------+
|      50.0|157.000000|
|      50.0| 93.000000|
|      50.0|170.000000|
|      50.0|119.000000|
|      50.0|198.000000|
+----------+----------+

In [43]:
df3.filter(df3.households==10).show()

+----------+----------+
|households|population|
+----------+----------+
|      10.0| 27.000000|
+----------+----------+